.hero-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5vh 5vw 0;
  background: linear-gradient(
    to bottom,
    var(--navy) 0%,
    var(--blue) 80%,
    var(--blue) 100%
  );
}

.hero-header {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 0;
}

.hero-container h1 {
  font-size: max(8vw, 2rem);
  margin: 0 0 3vh 0;
}

.hero-container h2 {
  font-size: max(5vw, 1.25rem);
  margin: 0;
}

.hero-container div {
  font-size: max(2.5vw, 0.95rem);
  margin-bottom: 0vh;
}

.portrait-img-container {
  margin: 0 auto;
}

.portrait-img {
  width: max(60vw, 275px);
}

:global .hero-cta {
  font-size: 1.15rem;
  width: 150px;
  height: 2.75rem;
  margin: 4vh 0;
}

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }

  .hero-header {
    align-items: start;
    justify-content: center;
  }

  .hero-container h2 {
    font-size: max(3vw, 1rem);
  }

  .hero-container h1 {
    font-size: max(5vw, 1.5rem);
  }

  .hero-container div {
    font-size: max(1.5vw, 1.15rem);
  }

  :global .hero-cta {
    font-size: 1.15rem;
    width: 175px;
    height: 3rem;
    flex-shrink: 1;
  }

  .portrait-img {
    width: 40vw;
  }
}

@media (min-width: 1024px) {
  .hero-container {
    padding: 10vh 12vw 0;
    justify-content: space-between;
  }

  .portrait-img-container {
    margin: 0 0;
  }

  .hero-header {
    width: 40vw;
    gap: 0;
  }

  .hero-container h2 {
    font-size: max(2.5vw, 2rem);
  }

  .hero-container h1 {
    font-size: max(4vw, 3rem);
  }

  .hero-container div {
    font-size: max(1.15vw, 1.25rem);
  }

  .portrait-img {
    width: min(40vw, 400px);
  }
}

@media (min-width: 1600px) {
  .hero-container {
    padding: 0 18vw;
  }
}
