.project-popup-container {
  z-index: -1;
  opacity: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin: 0;
  height: 90vh;
  top: 5vh;
  left: 0;
  transition: opacity 0.35s ease-in-out;
}

.open {
  opacity: 1;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 0;
}

.popup-content {
  max-height: 90vh;
  width: 80vw;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  z-index: 1;
  background-color: var(--light-gray);
  color: var(--navy);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 20px 35px;
}

.popup-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.close-button {
  position: fixed;
  top: calc(5vh + 15px);
  right: calc(10vw + 15px);
}

.no-scroll {
  overflow: hidden;
}

.popup-content h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.link-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-image {
  border-radius: 5px;
}

.project-description {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .popup-content {
    width: 70vw;
    border-radius: 15px;
    padding: 25px 25px 40px;
  }

  .close-button {
    right: calc(14vw + 25px);
  }

  .popup-content h1 {
    font-size: 2rem;
  }

  .project-description {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .popup-content {
    width: 50vw;
    padding: 30px 30px 45px;
  }

  .project-description {
    font-size: 1rem;
  }

  .popup-content em {
    font-size: 1.1rem;
  }

  .close-button {
    right: calc(25vw + 15px);
  }
}
