.portfolio-grid {
  padding: 0 5vw;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  background: linear-gradient(
    var(--navy) 0%,
    var(--blue) 80%,
    var(--blue) 80%,
    var(--blue) 100%
  );
}

@media (min-width: 768px) {
  .portfolio-grid {
    padding: 30px 5vw;
    gap: 4%;
  }
}

@media (min-width: 1024px) {
  .portfolio-grid {
    padding: 30px 12vw;
    gap: 3%;
  }
}

@media (min-width: 1600px) {
  .portfolio-grid {
    padding: 30px 18vw;
  }
}
