.nav-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navy);
  padding: 0 5vw;
}

.nav-links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 1.5vw;
  height: 100%;
  list-style: none;
  z-index: 1;
}

.nav-links li {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  margin-top: 2px;
  border-bottom: 3px solid rgba(0, 198, 199, 0);
  transition: border-color 0.4s ease;
}

.nav-links li.active {
  border-bottom: 3px solid rgba(0, 198, 199, 1);
}

.nav-links li.active:hover {
  border-bottom: 3px solid rgba(0, 198, 199, 1);
}

.nav-links li a {
  padding: 0 0.9vw;
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  color: white;
  text-decoration: none;
  height: 100%;
  font-family: "Lato", sans-serif;
}

.nav-links li:hover {
  border-bottom: 3px solid rgba(0, 198, 199, 0.5);
}

.nav-menu {
  align-items: center;
  height: 100%;
}

.nav-menu {
  display: none;
}

@media (min-width: 768px) {
  .nav-links li {
    padding: 0 1vw;
  }

  .nav-menu {
    display: flex;
  }

  .nav-container {
    border-bottom: 1px solid var(--light-gray);
  }
}

@media (min-width: 1024px) {
  .nav-links li {
    padding: 0;
  }

  .nav-container {
    padding: 0 12vw;
  }
}

@media (min-width: 1600px) {
  .nav-container {
    padding: 0 18vw;
  }
}
