/* MOBILE */

.footer {
  height: 360px;
  border-top: 1px solid var(--light-gray);
  background: linear-gradient(var(--blue), var(--navy));
  display: flex;
  flex-direction: column;
  gap: 3vh;
  justify-content: center;
  align-items: center;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.footer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

/* TABLET */

@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    gap: 4vw;
  }

  .footer-buttons {
    gap: 1.75vh;
  }
}

@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    gap: 4vw;
  }
}
