@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(42, 89, 125, 1) 0%,
    rgba(4, 36, 61, 1) 100%
  );
  background-size: cover;
  /*font-family: 'Inter', sans-serif;*/
  font-family: "Lato", sans-serif;
  color: white;
}
