/* General Styling */

:root {
  --navy: #021524;
  --cyan: #00c6c7;
  --offwhite: #f6fcfc;
  --gray: #292a2e;
  --light-gray: #a4acb2;
  --blue: #0b253c;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--blue);
  background-size: cover;
  color: white;
}

* {
  font-family: "Lato", sans-serif;
  /*font-family: 'Inter', sans-serif;*/
  box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

/* MOBILE */

.portrait-img {
  object-fit: contain;
  height: 450px;
}

/* TABLET */

@media (min-width: 768px) {
  .portrait-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 80%;
  }
}

/* DESKTOP */

@media (min-width: 1024px) {
}
