@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  background: rgba(42, 89, 125, 1) 0%;
  background-size: cover;
  /*font-family: 'Inter', sans-serif;*/
  font-family: "Lato", sans-serif;
  color: white;
  box-sizing: border-box;
}
