:global .content-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0;
}

.content-section {
  position: relative;
  padding: 7.5vw 5vw;
  display: flex;
  flex-direction: column-reverse;
  gap: 3vh;
  align-items: center;
  margin: 0;
}

.content-section.inverted {
  flex-direction: row-reverse;
}

.content-section.light {
  background-color: var(--offwhite);
}

.content-section.dark {
  background-color: var(--blue);
}

.content-section.bg-gradient {
  background: linear-gradient(
    to bottom,
    var(--navy) 0%,
    var(--blue) 80%,
    var(--blue) 100%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}

@media (min-width: 768px) {
  :global .content-button-container {
    gap: 1rem;
    justify-content: start;
  }

  .content-section {
    flex-direction: row;
    gap: 0;
  }
}

@media (min-width: 1024px) {
  .content-section {
    padding: 5vh 12vw;
  }
}

@media (min-width: 1600px) {
  .content-section {
    padding: 5vh 18vw;
  }
}
