.content-section-container {
  position: relative;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-constraint {
  height: auto;
}

.content-section-container.bg-gradient {
  background: linear-gradient(
    to bottom,
    var(--navy) 0%,
    var(--blue) 80%,
    var(--blue) 100%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}

@media (min-width: 768px) {
  .content-section-container {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .content-section-container {
    padding: 0 12vw;
  }
}
