.content-section-container {
  position: relative;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 900px;
  border: 1px solid green;
}

.portrait-img {
  object-fit: contain;
  height: 450px;
}

@media (min-width: 768px) {
  .content-section-container {
    flex-direction: row;
  }

  .portrait-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 80%;
  }
}

@media (min-width: 1024px) {
  .content-section-container {
    padding: 0 12vw;
  }
}
