.content-section {
  position: relative;
  padding: 20vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.content-section.light {
  background-color: var(--offwhite);
}

.content-section.dark {
  background-color: var(--blue);
}

.content-section.bg-gradient {
  background: linear-gradient(
    to bottom,
    var(--navy) 0%,
    var(--blue) 80%,
    var(--blue) 100%
  );
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}

@media (min-width: 768px) {
  .content-section {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .content-section {
    padding: 20vh 12vw;
  }
}

@media (min-width: 1600px) {
  .content-section {
    padding: 20vh 18vw;
  }
}
